extends ../he/base

block vars
  - var pageClass = "page-coc"

block viewport
  .container
    | <h1 id="conference-code-of-conduct">כללי התנהגות בכנס</h1>
    | <p>כל משתתף, מציג, נותן־חסות או מתנדב בכנס שלנו מתבקש לקבל את כללי ההתנהגות הבאים, ומחוייב לקבל את הכללים למניעת הטרדה. אנחנו מצפים לשיתוף פעולה מלא של כל הצדדים כדי להבטיח סביבה נעימה ובטוחה לכולם.</p>
    | <p>הכללים מנוסחים בלשון זכר משיקולי נוחות ותוך קבלת המין הדקדוקי הזכרי כברירת המחדל בעברית, אך ללא כל כוונה לבטא העדפה מינית כלשהי, ואתכן הסליחה. הכללים מופנים לבני ובנות כל המינים במידה שווה.</p>
    | <h2 id="the-quick-version">הגרסה המקוצרת</h2>
    | <p>היה ידידותי, סבלני, מאיר־פנים, ומתחשב; כבד את הבריות, השתמש בשפה נאותה, והמנע מהתנהגות או התבטאות מפלה. המנע במיוחד מהטרדה; הכנס מחוייב לספק חוויה נטולת הטרדות לכולם, והמארגנים עלולים להפעיל סנקציות כנגד משתתפים שיפרו את הכללים למניעת הטרדה, ובכללן הרחקה מהכנס ללא החזר כספי.</p>
    | <h2 id="the-full-version">הגרסה המלאה</h2>
    | <ul>
    | <li>היה ידידותי, והאר פנים לעמיתיך. אנו שואפים להיות קהילה שתקבל ותתמוך באנשים בעלי מגוון רחב של זהויות, שבאים מכל מיני רקעים.</li>
    | <li>היה סבלני ומתחשב. כולנו רוצים להנות, ללמוד וללמד, ושיתוף פעולה יפרה את כולנו.</li>
    | <li>כבד את הבריות. לא תמיד נסכים על הכל, אבל אי־הסכמה אינה תירוץ לנימוסים גרועים. המנע מהתקפות אישיות, והקפד לכבד גם חברים בקהילת פייתון וגם אנשים מחוץ לה.</li>
    | <li>השתמש בשפה נאותה, והמנע מהתנהגות מפלה. כולם רצויים בכנס, ללא הבדל מין, מגדר וביטויו, גיל, נטייה מינית, מוגבלויות, מראה חיצוני, גודל גוף, גזע, מוצא, או דת (או היעדר דת).</li>
    | <li>לא נסבול הטרדה של משתתפי הכנס באף צורה שהיא. המארגנים יאכפו את הכללים למניעת הטרדה במהלך כל האירוע.</li>
    | </ul>
    | <h2 id="anti-harassment-policy">כללים למניעת הטרדה</h2>
    | <ul>
    | <li>הטרדה כוללת הערות פוגעניות הקשורות למין, מגדר וביטויו, גיל, נטייה מינית, מוגבלויות, מראה פיזי, גודל גוף, גזע, מוצא, או דת (או היעדר דת); איום מכוון, מעקב מטריד, צילום או הקלטה מטרידים, שיבוש מתמשך של הרצאות או אירועים אחרים, מגע פיזי בלתי הולם, ותשומת לב מינית בלתי רצויה. תכנים מיניים, בפרט טקסטואליים או ויזואליים, הם בלתי הולמים בכל מרחבי הכנס, כולל הרצאות, סדנאות, מסיבות, ומדיה מקוונת.</li>
    | <li>אנו מצפים ממשתתפים שיתבקשו להפסיק איזושהי התנהגות מטרידה, לעשות כן באופן מיידי.</li>
    | <li>נותני חסות כפופים גם הם לכללים נגד הטרדה. בפרט, נותני חסות צריכים להמנע משימוש בתכנים, פעילויות, או כל חומר אחר בעלי אופי מיני. צוותי הדוכנים (כולל מתנדבים) צריכים להמנע משימוש בבגדים / מדים / תלבושות מיניים, ומיצירת סביבה מינית בכל דרך אחרת.</li>
    | <li>אם משתתף מתנהג באופן מטריד, מארגני הכנס עשויים לנקוט בכל פעולה שהם רואים לנכון, ובכלל זה להזהיר את המשתתף ואף להרחיקו מהאירוע ללא החזר כספי.</li>
    | </ul>
    | <h2 id="need-help-">צריכים עזרה?</h2>
    | <p>אם הוטרדת, או שהבחנת בהטרדה כלפי משתתף אחר, או אם יש לך שאלות אחרות בנושא, אנא פנה מייד לחבר צוות הכנס. תוכל לזהות את חברי צוות הכנס בעזרת החולצות המסומנות שהם ילבשו.</p>
    | <p>במקרים דחופים, ניתן לפנות אל אחד מבין:</p>
    | <ul>
    |     <li>חברת הצוות מיטל אביטל: 972-3-3741561+</li>
    |     <li>חבר הצוות דורון פדיוק: 972-58-3318124+</li>
    |   </ul>
    |   <p>צוות הכנס ישמח לעזור למשתתפים לתקשר עם צוות הביטחון של המלון/מקום האירוע או גורמי אכיפת החוק, לספק ליווי, או לסייע בדרכים אחרות לכל מי שמוצא עצמו מוטרד כדי שירגיש בטוח למשך הכנס. אנו מעריכים את השתתפותכם.</p>
    |   <p>אנו מצפים מכל המשתתפים להשמע לכללים אלה במקומות הכנס והסדנאות, וכן באירועים חברתיים הקשורים לכנס.</p>
    | </ul>
