extends ../base

block vars
  - var pageClass = "page-team"

block viewport
  .container
    h1 פגוש את צוות PyCon ישראל!
    
    p.lead.
      PyCon הוא ארוע קהילתי, שמאורגן ע"י מתנדבים ונתמך ע"י
      חסויות מסחריות וקהילתיות. להלן רשימת חברי הצוות המארגן.

    p.lead.
    .team-member-rtl
      img(src='/'+year+"/static/images/team/doron.jpg", alt='Photo of Doron Fediuck')
      p.name
        a(href="https://twitter.com/doron_f") דורון פדיוק

    .team-member-rtl
      img(src='/'+year+"/static/images/team/sim.jpg", alt='Photo of Sim Zacks')
      p.name
        a(href="https://il.linkedin.com/in/simzacks") סים זקס

    .team-member-rtl
      img(src='/'+year+"/static/images/team/mikey.jpg", alt='Photo of Mikey Ariel')
      p.name
        a(href="https://twitter.com/thatdocslady") מייקי אריאל

    .team-member-rtl
      img(src='/'+year+"/static/images/team/edan.jpg", alt='Photo of Edan Maor')
      p.name
        a(href="https://www.linkedin.com/in/edanmaor") עידן מאור

    .team-member-rtl
      img(src='/'+year+"/static/images/team/shai_2.jpg", alt='Photo of Shai Berger')
      p.name
        //- a(href="SOCIALMEDIA-URL") Shai Berger
        a(href="https://github.com/shaib") שי ברגר

    .team-member-rtl
      img(src='/'+year+"/static/images/team/david.png", alt='Photo of David Melamed')
      p.name
        a(href="https://www.linkedin.com/in/david-melamed-50610214?trk=hp-identity-name") דוד מלמד

    .team-member-rtl
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of Moshe Nahmias')
      p.name
        a(href="https://il.linkedin.com/in/moshe-nahmias-bb248187") משה נחמיאס

    .team-member-rtl
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of Karin Worcel')
      p.name
        a(href="/"+year) קרין וורסל

    .team-member-rtl
      img(src='/'+year+"/static/images/team/default_male.png", alt='Photo of Daniel Puterman')
      p.name
        a(href="/"+year) דניאל פוטרמן

    .team-member-rtl
      img(src='/'+year+"/static/images/team/ofir.jpg", alt='Photo of Ofir Ovadia')
      p.name
        a(href="https://www.linkedin.com/in/ofirovadia") אופיר עובדיה

    .team-member-rtl
      img(src='/'+year+"/static/images/team/noam_2.jpg", alt='Photo of Noam Elfanbaum')
      p.name
        a(href="https://twitter.com/noamelf/") נעם אלפנבאום

    .team-member-rtl
      img(src='/'+year+"/static/images/team/miki.jpg", alt='Photo of Miki Tebeka')
      p.name
        a(href="http://353solutions.com") מיקי טבקה

    .team-member-rtl
      img(src='/'+year+"/static/images/team/amit.jpg", alt='Photo of Amit Aronovitch')
      p.name
        a(href="https://www.linkedin.com/in/amitaronovitch") עמית אהרונוביץ

    .team-member-rtl
      img(src='/'+year+"/static/images/team/adi-vitman.jpg", alt='Photo of Adi Vitman')
      p.name
        a(href="https://il.linkedin.com/in/adi-vitman-860835112") עדי ויטמן

    .team-member-rtl
      img(src='/'+year+"/static/images/team/meital-avital.jpg", alt='Photo of Meital Avital')
      p.name
        a(href="https://twitter.com/meital_arki") מיטל אביטל
